@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?brxa6i');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?brxa6i#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?brxa6i') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?brxa6i') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?brxa6i##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-happy {
  &:before {
    content: $icon-happy; 
  }
}
.icon-smile {
  &:before {
    content: $icon-smile; 
  }
}
.icon-tongue {
  &:before {
    content: $icon-tongue; 
  }
}
.icon-wink {
  &:before {
    content: $icon-wink; 
  }
}
.icon-grin {
  &:before {
    content: $icon-grin; 
  }
}
.icon-cool {
  &:before {
    content: $icon-cool; 
  }
}
.icon-evil {
  &:before {
    content: $icon-evil; 
  }
}
.icon-shocked {
  &:before {
    content: $icon-shocked; 
  }
}
.icon-baffled {
  &:before {
    content: $icon-baffled; 
  }
}
.icon-hipster {
  &:before {
    content: $icon-hipster; 
  }
}

