$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-happy: "\e9df";
$icon-smile: "\e9e1";
$icon-tongue: "\e9e3";
$icon-wink: "\e9e7";
$icon-grin: "\e9e9";
$icon-cool: "\e9eb";
$icon-evil: "\e9ef";
$icon-shocked: "\e9f1";
$icon-baffled: "\e9f3";
$icon-hipster: "\e9f9";

