.b-contentcard {
    // position: relative;
    // width: 18%;
    // height: 378px;
    // background-color: white;
    // border-radius: 16px;
    // padding: 7px;
    // border: 3px solid #0440e6;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 10px;
    width: 100%;
    @media (min-width: 768px) {
        width: 46%;
    }
}

// @media (max-width: 368px) {
//     .b-contentcard {
//         width: 100%;
//         height: 278px;
//     }
// }

.b-btncontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    position: absolute;
    bottom: 9px;
    left: 17px;
}

.b-message {
    margin: 0px;
    font-size: 0.75rem;
    color: rgb(158, 158, 158);
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 1.66;
    margin-top: 7px;
    transition: all 500ms ease;
}

.b-btncoment {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 10px 0px;
    margin-left: 9px;
    cursor: pointer;
    user-select: none;
    vertical-align: center;
    appearance: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    line-height: 1.75;
    min-width: 46%;
    padding: 5px 15px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
        color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 500;
    border-radius: 4px;
}

.b-btncoment--red {
    color: rgb(244, 67, 54);
    border: 1px solid rgba(244, 67, 54, 0.5);
    &:hover {
        text-decoration: none;
        background-color: rgba(244, 67, 54, 0.05);
        border: 1px solid rgba(244, 67, 54, 0.5);
    }
}
.b-btncoment--blue {
    color: rgb(33, 150, 243);
    border: 1px solid rgba(33, 150, 243, 0.5);
    &:hover {
        text-decoration: none;
        background-color: rgba(33, 150, 243, 0.05);
        border: 1px solid rgb(33, 150, 243);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
}

.modal-container {
    position: relative;
    margin: auto;
    max-width: 90%;
    height: 100%;
    background-color: rgb(33, 150, 243);
    border-radius: 6px;
    padding: 1em 4.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    place-items: center;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}
