@import '../../styles/settings/colors';
@import '../../styles/header';

.b-gallery{
    display: flex;
    flex-wrap: wrap;
    
    // position: relative;
}



.b-card{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 20%;
    margin:16px;
    height: 180px;
    border: 1px solid var(--color-red);
    border-radius: 10px;
      
}








//raya por debajo con una pequeña animación
.b-heading:after{
    content: "";
    width: 100%;;
    height: 2px;
    background-color: var(--color-blue);
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.b-heading:hover:after{
    opacity: 1;
}


.b-heading--half:after{
    content: "";
    width: 50%;;
    height: 2px;
    background-color:blue;
    display: block;
}




// .b-card:nth-child(even){
//     background-color:rgb(97, 88, 221);
// }
// .b-card:nth-child(odd){
//     background-color:burlywood;
// }


.b-button{
    width: 35%;
    height: 35%;
    border-radius: 8px;
    background-color: rgb(236, 159, 159)
}



.modal-contenido{
    background-color:aqua;
    width:100%;
    height:100%;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
    overflow: auto;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #miModal:target{
    opacity:1;
    pointer-events:auto;
  }