@import "../../styles/settings/colors";


img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card {
  background-color: var(--color-white--primary);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  &::before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  @media (min-width: 40rem) {
    &::before {
      padding-top: 66.6%;
    }
  }
}

.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__title {
  display: flex;
  align-items: baseline;
  color: var(--color-gray--primary);
  font-size: 1.1rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  padding: 10px;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  color: var(--color-gray--primary);
}

.b-button {
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  &:hover {
    color: var(--color-white--primary);
    font-size: 1rem;
    background-color: var(--color-gray--primary);
  }
}

.btn {
  background-color: var(--color-white--primary);
  border: 1px solid var(--color-gray--tertiary);
  //border-radius: 1rem;
  color: var(--color-gray--primary);
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

.icon-user {
  font-size: 30px;
}

.icon-bubble2{
  font-size: 20px;
}
