*{margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;}

body{
  background-color: #f0f0f0;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  
}

.b-containerapp{
  margin: auto;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 60%;
  /* background-color: #E3F2FD;
  border-radius: 15px; */
}

@media  (max-width: 968px) {
  .b-containerapp{
    width: 90%;
  }
}

